<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unlimited.sports.globox.social.mapper.RallyParticipantMapper">
    <resultMap id="BaseResultMap" type="com.unlimited.sports.globox.model.social.entity.RallyParticipant">
        <id column="rally_participant_id" property="rallyParticipantsId" />
        <result column="rally_post_id" property="rallyPostId" />
        <result column="participant_id" property="participantId" />
        <result column="user_ntrp" property="userNtrp" />
        <result column="joined_at" property="joinedAt" />
        <result column="is_voluntarily_cancel" property="isVoluntarilyCancel" />
        <result column="is_initiator" property="isInitiator" />
    </resultMap>
    <select id="getRallyApplicationByRallyPostIdAndParticipantId" resultMap="BaseResultMap">
        SELECT
            rally_participant_id,
            rally_post_id,
            participant_id,
            user_ntrp,
            joined_at,
            is_voluntarily_cancel,
            is_initiator
        FROM
            rally_participant
        WHERE
            rally_post_id = #{rallyPostId}
            AND participant_id = #{participantId}
            AND is_voluntarily_cancel = 0
        LIMIT 1
    </select>


</mapper>