<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unlimited.sports.globox.social.mapper.SocialNoteCommentLikeMapper">

    <!-- 批量查询用户对指定评论的点赞状态 -->
    <select id="selectLikedCommentIdsByUser" resultType="java.lang.Long">
        SELECT
            comment_id
        FROM
            social_note_comment_like
        WHERE
            user_id = #{userId}
            AND comment_id IN
            <foreach collection="commentIds" item="commentId" open="(" separator="," close=")">
                #{commentId}
            </foreach>
    </select>

</mapper>



