<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unlimited.sports.globox.merchant.mapper.VenueRefundRuleDetailMapper">

    <!-- 批量插入明细 -->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="venueRefundRuleDetailId">
        INSERT INTO venue_refund_rule_details
        (venue_refund_rule_id, min_hours_before, max_hours_before, refund_percentage
        , handling_fee_percentage, refund_rule_detail_desc, sort_order_num)
        VALUES
        <foreach collection="details" item="item" separator=",">
            (#{item.venueRefundRuleId}, #{item.minHoursBefore}, #{item.maxHoursBefore},
            #{item.refundPercentage}, #{item.handlingFeePercentage},
            #{item.refundRuleDetailDesc}, #{item.sortOrderNum})
        </foreach>
    </insert>

    <!-- 删除规则的所有明细 -->
    <update id="deleteByRuleId">
        UPDATE venue_refund_rule_details
        SET deleted = 1
        WHERE venue_refund_rule_id = #{ruleId}
    </update>

</mapper>